<!DOCTYPE html>
<html>
    <head>
        <title>3F</title>
    </head>
    <body>
        <h1>3Fの利用できる可能性がある教室は以下になります</h1>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds301</button>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds302</button>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds303</button>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds304</button>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds305</button>
    </body>
</html>