<!DOCTYPE html>
<html>
    <head>
        <title>4F</title>
    </head>
    <body>
        <h1>4Fの利用できる可能性がある教室は以下になります</h1>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds401</button>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds402</button>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds403</button>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds404</button>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds410</button>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds411</button>
        <button type="button" onclick="location.href='firstkakuninn.html'">ds412</button>
    </body>
</html>