<!DOCTYPE html>
<html lang ="ja">
    <head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
     <link rel ="stylesheet" href="../static/test.css" />
     <title>名城大学ドーム前キャンパスS館空き教室検索サイト: {% block  title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <p>Meijo University</p>
            <nav>
                <div class="url-container">
                <a class="url" href="https://www.meijo-u.ac.jp/about/campus/dome.html">ドーム前キャンパス</a>
                <a class="url" href="https://www.meijo-u.ac.jp/" right>大学HP</a>
                </div>
            </nav>
        </header>
        <div class = "main-visual"></div>
        <div class="main">
            <div class="sidebar-left"></div>
            <div class="blog"></div>
            <div class="sidebar-right"></div>
        </div>
        <main>
            <button type="button" onclick="location.href='1f.html'">1F</button>
            <button type="button" onclick="location.href='2f.html'">2F</button>
            <button type="button" onclick="location.href='3f.html'">3F</button>
            <button type="button" onclick="location.href='4f.html'">4F</button>
        </main>
        <footer>© 2023 Meijo University</footer>
    </body>
</html>