<!DOCTYPE html>
<html lang ="ja">
    <head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
     <link rel ="stylesheet" href="../static/styles.css" />
     <title>名城大学ドーム前キャンパスS館空き教室検索サイト: {% block  title %}{% endblock %}</title>
    </head>
    <body>
        <button type="button" onclick="location.href='1f.html'">1F</button>
        <button type="button" onclick="location.href='2f.html'">2F</button>
        <button type="button" onclick="location.href='3f.html'">3F</button>
        <button type="button" onclick="location.href='4f.html'">4F</button>
    </body>
</html>